@import "../../style.scss";

.checkedInContainer {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: themed(bg);

    .checkedInTitle {
      display: flex;
      align-items: center;

      span {
        color: themed(textColorSoft);
        padding-right: 5px;
      }

      .iconDiv {
        display: flex;
        align-items: center;
        #checkedInInfoIcon {
          color: themed(border);
          font-size: 20px;
        }
      }
    }
  }
}
