@import "../../style.scss";

.update {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    @include mobile {
      width: 100%;
      height: 100%;
    }

    .container {
      background-color: themed(bgSoft);
      position: relative;
      height: min-content;
      width: 30vw;
      padding: 15px 15px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      #exitButton {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: large;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }

      .title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // gap: 40px;

        h1 {
          color: white;
          text-align: center;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .files {
          display: flex;
          flex-wrap: wrap;
          padding: 0px 15%;
          justify-content: space-evenly;

          svg {
            cursor: pointer;
          }
        }

        label {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: gray;
          font-size: 14px;

          .imgContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 8px;
            }
          }
        }

        .inputDiv {
          display: flex;
          flex-direction: column;
          padding: 0px 15%;

          span {
            color: white;
          }

          input {
            border: none;
            border-bottom: 1px solid themed("border");
            color: white;
            background-color: transparent;
            margin-bottom: 15px;
          }
        }

        .updateButtonDiv {
          display: flex;
          padding: 0px 15%;
          align-items: center;
          justify-content: center;

          #updateButton {
            border: none;
            width: 45%;
            padding: 10px;
            cursor: pointer;
            color: black;
            background-color: themed(button);
            border-radius: 8px;
          }
        }
      }

      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        background-color: #f0544f;
        padding-left: 5px;
        cursor: pointer;
        color: white;
      }
    }
  }
}
